<% layout("/layout/boilerplate.ejs") %>
<% let m1 = Math.floor(Math.random()*100)+1;%>
<% let m2 = Math.floor(Math.random()*100)+1;%>
<% let m3 = Math.floor(Math.random()*100)+1;%>
<% let m4 = Math.floor(Math.random()*100)+1;%>
<% let m5 = Math.floor(Math.random()*100)+1;%>
<% let m6 = Math.floor(Math.random()*100)+1;%>
<% let m7 = Math.floor(Math.random()*100)+1;%>
<% let m8 = Math.floor(Math.random()*100)+1;%>
<% let m9 = Math.floor(Math.random()*100)+1;%>
<% let m10 = Math.floor(Math.random()*100)+1;%>
<% let m11 = Math.floor(Math.random()*100)+1;%>
<% let m12 = Math.floor(Math.random()*100)+1;%>
<% let m13 = Math.floor(Math.random()*100)+1;%>
<% let m14 = Math.floor(Math.random()*100)+1;%>
<% let m15 = Math.floor(Math.random()*100)+1;%>
<% let m16= Math.floor(Math.random()*100)+1;%>
<% let m17= Math.floor(Math.random()*100)+1;%>
<% let m18= Math.floor(Math.random()*100)+1;%>
<% let m19= Math.floor(Math.random()*100)+1;%>
<% let m20= Math.floor(Math.random()*100)+1;%>
<% let m21= Math.floor(Math.random()*100)+1;%>
<% let m22 = Math.floor(Math.random()*100)+1;%>
<% let m23 = Math.floor(Math.random()*100)+1;%>
<% let m24 = Math.floor(Math.random()*100)+1;%>
<% let m25 = Math.floor(Math.random()*100)+1;%>
<% let m26 = Math.floor(Math.random()*100)+1;%>
<% let m27 = Math.floor(Math.random()*100)+1;%>
<% let m28 = Math.floor(Math.random()*100)+1;%>
<% let m29 = Math.floor(Math.random()*100)+1;%>
<% let m30= Math.floor(Math.random()*100)+1;%>
<% let m31= Math.floor(Math.random()*100)+1;%>
<% let m32= Math.floor(Math.random()*100)+1;%>
<% let m33 = Math.floor(Math.random()*100)+1;%>
<% let m34 = Math.floor(Math.random()*100)+1;%>
<% let m35 = Math.floor(Math.random()*100)+1;%>
<% let m36 = Math.floor(Math.random()*100)+1;%>
<% let m37 = Math.floor(Math.random()*100)+1;%>
<% let m38 = Math.floor(Math.random()*100)+1;%>
<% let m39 = Math.floor(Math.random()*100)+1;%>
<% let m40 = Math.floor(Math.random()*100)+1;%>
<% let m41 = Math.floor(Math.random()*100)+1;%>
<% let m42= Math.floor(Math.random()*100)+1;%>
<% let m43= Math.floor(Math.random()*100)+1;%>
<% let m44= Math.floor(Math.random()*100)+1;%>
<% let m45= Math.floor(Math.random()*100)+1;%>
<% let m46= Math.floor(Math.random()*100)+1;%>
<% let m47= Math.floor(Math.random()*100)+1;%>
<% let m48 = Math.floor(Math.random()*100)+1;%>
<% let m49 = Math.floor(Math.random()*100)+1;%>
<% let m50 = Math.floor(Math.random()*100)+1;%>
<% let m51 = Math.floor(Math.random()*100)+1;%>
<% let m52 = Math.floor(Math.random()*100)+1;%>
<% let m53 = Math.floor(Math.random()*100)+1;%>
<% let m54 = Math.floor(Math.random()*100)+1;%>
<% let m55 = Math.floor(Math.random()*100)+1;%>
<% let m56 = Math.floor(Math.random()*100)+1;%>
<% let m57 = Math.floor(Math.random()*100)+1;%>
<% let m58 = Math.floor(Math.random()*100)+1;%>
<% let m59= Math.floor(Math.random()*100)+1;%>
<% let m60 = Math.floor(Math.random()*100)+1;%>
<% let m61 = Math.floor(Math.random()*100)+1;%>
<% let m62 = Math.floor(Math.random()*100)+1;%>
<% let m63 = Math.floor(Math.random()*100)+1;%>
<% let m64 = Math.floor(Math.random()*100)+1;%>
<% let m65 = Math.floor(Math.random()*100)+1;%>
<% let m66 = Math.floor(Math.random()*100)+1;%>
<% let m67= Math.floor(Math.random()*85)+1;%>
<% let m68= Math.floor(Math.random()*85)+1;%>
<% let m69= Math.floor(Math.random()*85)+1;%>
<% let m70= Math.floor(Math.random()*85)+1;%>
<% let m71= Math.floor(Math.random()*100)+1;%>
<% let m72= Math.floor(Math.random()*100)+1;%>
<% let m73 = Math.floor(Math.random()*100)+1;%>
<% let m74 = Math.floor(Math.random()*100)+1;%>
<% let m75 = Math.floor(Math.random()*100)+1;%>
<% let m76 = Math.floor(Math.random()*100)+1;%>
<% let m77 = Math.floor(Math.random()*100)+1;%>
<% let m78= Math.floor(Math.random()*100)+1;%>
<% let m79= Math.floor(Math.random()*100)+1;%>
<% let m80 = Math.floor(Math.random()*100)+1;%>
<% let m81 = Math.floor(Math.random()*100)+1;%>
<% let m82 = Math.floor(Math.random()*100)+1;%>
<% let m83 = Math.floor(Math.random()*100)+1;%>
<% let m84 = Math.floor(Math.random()*100)+1;%>
<% let m85 = Math.floor(Math.random()*100)+1;%>

    
   
    <div class="more-section">
        <div class="main-section-heading">
            <h4 style="font-size: 35px; color: white;"><span>T</span>op <span>B</span>olly<span>W</span>ood <span>H</span>its</h4>
            <button style="width:100px"><a href="/home/player">Back</a></button>

        </div>

        <div class="main-section-songs" style="overflow: hidden;">
            <!-- let iURL = playItem.spotifyTrack.album.cover[0].url;  
        let iAudioUrl = playItem.youtubeVideo.audio[0].url;  -->
            <div class="card" data-image-url="/image/image-<%=m1%>.jpg" data-song-url="/Audio/song-<%=m1%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m1%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m2%>.jpg" data-song-url="/Audio/song-<%=m2%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m2%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m3%>.jpg" data-song-url="/Audio/song-<%=m3%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m3%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m4%>.jpg" data-song-url="/Audio/song-<%=m4%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m4%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m5%>.jpg" data-song-url="/Audio/song-<%=m5%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m5%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m6%>.jpg" data-song-url="/Audio/song-<%=m6%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m6%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m7%>.jpg" data-song-url="/Audio/song-<%=m7%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m7%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m8%>.jpg" data-song-url="/Audio/song-<%=m8%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m8%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m9%>.jpg" data-song-url="/Audio/song-<%=m9%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m9%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m10%>.jpg" data-song-url="/Audio/song-<%=m10%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m10%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m11%>.jpg" data-song-url="/Audio/song-<%=m11%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m11%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m12%>.jpg" data-song-url="/Audio/song-<%=m12%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m12%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m13%>.jpg" data-song-url="/Audio/song-<%=m13%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m13%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m14%>.jpg" data-song-url="/Audio/song-<%=m14%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m14%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m15%>.jpg" data-song-url="/Audio/song-<%=m15%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m15%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m16%>.jpg" data-song-url="/Audio/song-<%=m16%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m16%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m17%>.jpg" data-song-url="/Audio/song-<%=m17%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m17%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m18%>.jpg" data-song-url="/Audio/song-<%=m18%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m18%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m19%>.jpg" data-song-url="/Audio/song-<%=m19%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m19%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m20%>.jpg" data-song-url="/Audio/song-<%=m20%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m20%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m21%>.jpg" data-song-url="/Audio/song-<%=m21%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m21%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m22%>.jpg" data-song-url="/Audio/song-<%=m22%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m22%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m24%>.jpg" data-song-url="/Audio/song-<%=m24%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m24%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m25%>.jpg" data-song-url="/Audio/song-<%=m25%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m25%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m26%>.jpg" data-song-url="/Audio/song-<%=m26%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m26%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m27%>.jpg" data-song-url="/Audio/song-<%=m27%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m27%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m28%>.jpg" data-song-url="/Audio/song-<%=m28%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m28%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m29%>.jpg" data-song-url="/Audio/song-<%=m29%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m29%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m30%>.jpg" data-song-url="/Audio/song-<%=m30%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m30%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m31%>.jpg" data-song-url="/Audio/song-<%=m31%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m31%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m32%>.jpg" data-song-url="/Audio/song-<%=m32%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m32%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m33%>.jpg" data-song-url="/Audio/song-<%=m33%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m33%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m34%>.jpg" data-song-url="/Audio/song-<%=m34%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m34%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m35%>.jpg" data-song-url="/Audio/song-<%=m35%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m35%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m36%>.jpg" data-song-url="/Audio/song-<%=m36%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m36%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m37%>.jpg" data-song-url="/Audio/song-<%=m37%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m37%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m38%>.jpg" data-song-url="/Audio/song-<%=m38%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m38%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m39%>.jpg" data-song-url="/Audio/song-<%=m39%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m39%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m40%>.jpg" data-song-url="/Audio/song-<%=m40%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m40%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m41%>.jpg" data-song-url="/Audio/song-<%=m41%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m41%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m42%>.jpg" data-song-url="/Audio/song-<%=m42%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m42%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m43%>.jpg" data-song-url="/Audio/song-<%=m43%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m43%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m43%>.jpg" data-song-url="/Audio/song-<%=m43%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m43%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m44%>.jpg" data-song-url="/Audio/song-<%=m44%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m44%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m45%>.jpg" data-song-url="/Audio/song-<%=m45%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m45%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m46%>.jpg" data-song-url="/Audio/song-<%=m46%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m46%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m47%>.jpg" data-song-url="/Audio/song-<%=m47%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m47%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m48%>.jpg" data-song-url="/Audio/song-<%=m48%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m48%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m49%>.jpg" data-song-url="/Audio/song-<%=m49%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m49%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m50%>.jpg" data-song-url="/Audio/song-<%=m50%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m50%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m51%>.jpg" data-song-url="/Audio/song-<%=m51%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m51%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m52%>.jpg" data-song-url="/Audio/song-<%=m52%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m52%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m53%>.jpg" data-song-url="/Audio/song-<%=m53%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m53%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m54%>.jpg" data-song-url="/Audio/song-<%=m54%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m54%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m55%>.jpg" data-song-url="/Audio/song-<%=m55%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m55%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m56%>.jpg" data-song-url="/Audio/song-<%=m56%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m56%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m57%>.jpg" data-song-url="/Audio/song-<%=m57%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m57%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m58%>.jpg" data-song-url="/Audio/song-<%=m58%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m58%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m60%>.jpg" data-song-url="/Audio/song-<%=m60%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m60%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m61%>.jpg" data-song-url="/Audio/song-<%=m61%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m61%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m62%>.jpg" data-song-url="/Audio/song-<%=m62%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m62%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m63%>.jpg" data-song-url="/Audio/song-<%=m63%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m63%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m64%>.jpg" data-song-url="/Audio/song-<%=m64%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m64%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m65%>.jpg" data-song-url="/Audio/song-<%=m65%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m65%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m66%>.jpg" data-song-url="/Audio/song-<%=m66%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m66%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m67%>.jpg" data-song-url="/Audio/song-<%=m67%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m67%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m68%>.jpg" data-song-url="/Audio/song-<%=m68%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m68%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m69%>.jpg" data-song-url="/Audio/song-<%=m69%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m69%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m70%>.jpg" data-song-url="/Audio/song-<%=m70%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m70%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m71%>.jpg" data-song-url="/Audio/song-<%=m71%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m71%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m72%>.jpg" data-song-url="/Audio/song-<%=m72%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m72%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m73%>.jpg" data-song-url="/Audio/song-<%=m73%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m73%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m74%>.jpg" data-song-url="/Audio/song-<%=m74%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m74%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m75%>.jpg" data-song-url="/Audio/song-<%=m75%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m75%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m76%>.jpg" data-song-url="/Audio/song-<%=m76%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m76%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m77%>.jpg" data-song-url="/Audio/song-<%=m77%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m77%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m78%>.jpg" data-song-url="/Audio/song-<%=m78%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m78%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m79%>.jpg" data-song-url="/Audio/song-<%=m79%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m79%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m80%>.jpg" data-song-url="/Audio/song-<%=m80%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m80%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m81%>.jpg" data-song-url="/Audio/song-<%=m81%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m81%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m82%>.jpg" data-song-url="/Audio/song-<%=m82%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m82%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m83%>.jpg" data-song-url="/Audio/song-<%=m83%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m83%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m84%>.jpg" data-song-url="/Audio/song-<%=m84%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m84%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m85%>.jpg" data-song-url="/Audio/song-<%=m85%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m85%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m1%>.jpg" data-song-url="/Audio/song-<%=m1%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m1%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m2%>.jpg" data-song-url="/Audio/song-<%=m2%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m2%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m17%>.jpg" data-song-url="/Audio/song-<%=m17%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m17%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m18%>.jpg" data-song-url="/Audio/song-<%=m18%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m18%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m3%>.jpg" data-song-url="/Audio/song-<%=m3%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m3%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m8%>.jpg" data-song-url="/Audio/song-<%=m8%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m8%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m22%>.jpg" data-song-url="/Audio/song-<%=m22%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m22%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m6%>.jpg" data-song-url="/Audio/song-<%=m6%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m6%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m5%>.jpg" data-song-url="/Audio/song-<%=m5%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m5%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m31%>.jpg" data-song-url="/Audio/song-<%=m31%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m31%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m22%>.jpg" data-song-url="/Audio/song-<%=m22%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m22%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
            <div class="card" data-image-url="/image/image-<%=m41%>.jpg" data-song-url="/Audio/song-<%=m41%>.mp3"
                onclick="playSong(this)" style=" border: none;">
                <img class="card-img-top main-image" src="/image/image-<%=m41%>.jpg" alt="Card image cap"
                    style="border-radius: 10px; width:12rem">
                <i class="bi bi-play-circle-fill play-circle play-circle-main"
                    style="position: absolute; right:6%; bottom: 5px;font-size: 40px; cursor: pointer; color: #00ff7f;"
                    id="1m"></i>
            </div>
        </div>


        <div class="player-footer" style="text-align: center; background-color:rgba(255, 255, 255, 0.382) ;">
            <div class="player-footer-img"
                style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                <div class="image">
                    <img id="SongImage" src="/image/image-7.jpg"
                        style="width: 4.5rem; height: 4.5rem; border-radius: 10px; padding: 7px;">
                </div>
                <div class="audio">
                    <audio loop controls src="/Audio/Ambarsariya.mp3"
                        style="z-index: 2; width: 65vw; position: relative; left:50px; top:3px;" id="audioPlayer">
                    </audio>
                </div>



            </div>



        </div>
    